@model UserModel

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>First name:</legend>@Html.EditorFor(model => model.FirstName)

        <legend>Last name:</legend>@Html.EditorFor(model => model.LastName)

        <legend>Password:</legend>@Html.EditorFor(model => model.Password)

        <legend>Email:</legend>@Html.EditorFor(model => model.Email)
    </fieldset>    
}